# <center> Assignment</center>

**1. Check if the String contains only numbers**

In [5]:
s = '8000'

Expected Output = True

In [6]:
# it is already solved for you...

s.isdigit()

True

**2. Check if the string is compose of all lower characters**

In [11]:
d = 'loweRcase'

Expected Output = False

In [12]:
d.islower()

False

**3. Check if the first character in a string is lowercase**

In [13]:
a = 'aPPlE'

Expected Output = True

In [19]:
a[0].islower()

True

**4. Join a list of strings into a single string, delimited by hyphens**

In [21]:
string_list = ['a','b','c']

Expected Output = 'a-b-c'

In [23]:
'-'.join(string_list)

'a-b-c'

**5. Write a program to display the last digit of the number given**

In [24]:
number = 2345

Expected Output = 5

In [29]:
number%10

5

**6. Given a number count the total number of digits in a number**

In [33]:
number = 7567869

Expected Output = 5

In [35]:
s = str(number)
print(s)
len(s)

7567869

7

**7. Reverse the following List using for loop**

In [36]:
List = [10, 40, 160, 320]

Expected Output = [320, 160, 40, 10]

In [39]:
l = []
for i in List[::-1]:
    l.append(i)
l

[320, 160, 40, 10]

**8. Display Numbers from -10 to 1 using for loop in a list**

Expected Output = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [42]:
for i in range(-10, 2):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1

**9. Write a program to check whether a number is divisible by 7 or not**

In [45]:
# it is already solved for you...

num = 49

if num % 7 == 0:
    print('Yes, Divisible by 7')
else:
    print('Not Divisible by 7')

Yes, Divisible by 7

**10. Print the sum of first 5 Natural Numbers using loop**

Expected Output = 15

In [48]:
s = 0
for i in range(1, 6):
    s += i
s

15

Note: The Notebook is only for practice purpose, created by Vicky Kumar